<!DOCTYPE html>
<html>
<head>
<base href="${request.getContextPath()}/" />
<!-- 这句规定base地址,如果有个图片src可以不写全,将自动应用base地址+src的地址 -->
<!-- <base target="_blank" /> 这句规定本页所有链接的打开行为为打开一个新的窗口 -->
<title>demo</title>
<meta name="_csrf" content="${_csrf.token}"/>
<meta name="_csrf_header" content="${_csrf.headerName}"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">
<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
<meta http-equiv="description" content="This is my page">
<link href="resources/css/style.css" rel="stylesheet" type="text/css">
<script src="resources/js/jquery/jquery-3.0.0.js"></script>
<script src="lib/json2.js"></script>
</head>
<body>
	<header id="header">
		<p>Here is header.</p>
	</header>